.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.chessBoard {
  border: 8px solid #25190e;
  width:640px;
  height:640px;
  background-color: #77604a;
}

.chessRow {
  width:640px;
}

.infoRow {
  color: white;
  background-color: #25190e;
}

.squareBlack {
  height: 80px;
  width: 80px;
  max-height: 80px;
  max-width: 80px;
  min-height: 80px;
  min-width: 80px;
  background-color:#423121;
}

.squareWhite {
  height: 80px;
  width: 80px;
  max-height: 80px;
  max-width: 80px;
  min-height: 80px;
  min-width: 80px;
  background-color:#f8f1e3;
}

.chessBoard img {
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.chessPieceActive {
}

.chessPieceActive img {
  width: 125%;
  height: 125%;
  max-height: 75px;
  max-width: 75px;
}