.App {
  width: 100vw;
  height: 100vh;
}

.GameContainer {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  font-size: 80%;
  margin: 4vh;
}

.TopBar {
  position: absolute;
 width: 100vw;
 height: 32px;
 top: 0;
 display: flex;
 flex-direction: row;
 align-items: center;
 background-color: #f8f1e3;
}

@media only screen and (min-width: 1200px) {
  .chessBoard {
    border: 8px solid #25190e;
    width:72vh;
    height:72vh;
    background-color: #77604a;
  }
  
  .chessRow {
    width:72vh;
  }
  
  .infoRow {
    color: white;
    background-color: #25190e;
  }
  
  .squareBlack {
    height: 9vh;
    width: 9vh;
    max-height: 9vh;
    max-width: 9vh;
    min-height: 9vh;
    min-width: 9vh;
    background-color:#423121;
  }
  
  .squareWhite {
    height: 9vh;
    width: 9vh; 
    max-height: 9vh;
    max-width: 9vh;
    min-height: 9vh;
    min-width: 9vh;
    background-color:#f8f1e3;
  }
  
  .chessBoard img {
    width: 6vh;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
  }
  
  .deadPiece {
    width: 2vh !important;
  }
  
  .chessPieceActive {
  }
  
  .chessPieceActive img {
    width: 9vh;
  }
  
  .rotater {
    width: 12vh;
    animation: rotation 2s infinite linear;
  }
}

@media only screen and (max-width: 1200px) {
.chessBoard {
  border: 8px solid #25190e;
  width:80vw;
  height:80vw;
  max-height: 768px;
  max-width: 768px;
  background-color: #77604a;
}

.chessRow {
  width:80vw;
}

.infoRow {
  color: white;
  background-color: #25190e;
}

.squareBlack {
  height: 10vw;
  width: 10vw;
  max-height: 96px;
  max-width: 96px;
  min-height: 10vw;
  min-width: 10vw;
  background-color:#423121;
}

.squareWhite {
  height: 10vw;
  width: 10vw; 
  max-height: 96px;
  max-width: 96px;
  min-height: 10vw;
  min-width: 10vw;
  background-color:#f8f1e3;
}

.chessBoard img {
  width: 7vw;
  max-width: 78px;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.deadPiece {
  width: 2vw !important;
}

.chessPieceActive {
}

.chessPieceActive img {
  width: 9.5vw;
  max-width:88px
}

.rotater {
  width: 12vw;
  animation: rotation 2s infinite linear;
}
}

.squareHighlight {
  background-color: #ff86ab;
}

.wiggle {
  animation: wiggle 0.5s infinite 1 alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}