.App {
  width: 100vw;
  height: 100vh;
}

.GameContainer {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 80%;
}

.chessBoard {
  border: 8px solid #25190e;
  width:80vh;
  height:80vh;
  background-color: #77604a;
}

.chessRow {
  width:80vh;
}

.infoRow {
  color: white;
  background-color: #25190e;
}

.squareBlack {
  height: 10vh;
  width: 10vh;
  max-height: 10vh;
  max-width: 10vh;
  min-height: 10vh;
  min-width: 10vh;
  background-color:#423121;
}

.squareWhite {
  height: 10vh;
  width: 10vh; 
  max-height: 10vh;
  max-width: 10vh;
  min-height: 10vh;
  min-width: 10vh;
  background-color:#f8f1e3;
}

.chessBoard img {
  width: 7vh;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.chessPieceActive {
}

.chessPieceActive img {
  width: 9.5vh;
}